<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
</head>
<body>
<h1>哈哈哈！成功了!</h1>
<table>
    <thead>
        <tr>
            <td>编号</td>
            <td>姓名</td>
            <td>密码</td>
        </tr>
    </thead>
    <tbody>
        <!-- 循环遍历 -->
        <tr th:each = "user : ${user}">
            <td th:text = "${user.id}"></td>
            <td th:text = "${user.name}"></td>
            <td th:text = "${user.password}"></td>
        </tr>
    </tbody>
</table> 
</body>
</html>